	<div class="about-heading">
		<h2>About <span>Us</span></h2>
	</div>

	<div class="about">
		<!-- about-top -->
		<div class="agileits-about-top">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Who we <span>are</span></h3>
				</div>
				<div class="agileinfo-top-grids">
					<div class="col-sm-4 wthree-top-grid">
						<img src="../assets/7.jpg" alt="" />
						<h4>Curabitur non blandit justo</h4>
						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
					</div>
					<div class="col-sm-4 wthree-top-grid">
						<img src="../assets/9.jpg" alt="" />
						<h4>Curabitur non blandit justo</h4>
						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
					</div>
					<div class="col-sm-4 wthree-top-grid">
						<img src="../assets/10.jpg" alt="" />
						<h4>Curabitur non blandit justo</h4>
						<p>Pellentesque auctor euismod lectus a pretium. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.nascetur ridiculus mus. Curabitur ut elit at est tempus volutpat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //about-top -->
		
		<!-- choose -->
		<div class="jarallax w3-agileits-choose-grid">
			<div class="container">
				<div class="w3-banner-bottom-heading about-choose">
					<h3>Why choose  <span>us?</span></h3>
				</div>
				<div class="agile-choose-grids">
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h4>Suspendisse ornare vitae ex nec aliquam</h4>
							<p>Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel. Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.</p>
						</div>
					</div>
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h4>Suspendisse ornare vitae ex nec aliquam</h4>
							<p>Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel. Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.</p>
						</div>
					</div>
					<div class="col-sm-4 agile-choose-grid">
						<div class="choose-icon">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div>
						<div class="choose-info">
							<h4>Suspendisse ornare vitae ex nec aliquam</h4>
							<p>Nunc et massa ut purus porta euismod quis eu erat. Nam ornare faucibus elit sed tempor. Quisque iaculis odio nibh, et auctor tellus rhoncus vel. Maecenas arcu neque, semper eu commodo ut, pharetra vitae erat.</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<!-- //choose -->
		
		<!-- team -->
		<div class="team">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Our <span>Team</span></h3>
				</div>
				<div class="team-grids">
					<!-- Bottom to top-->
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/rd.jpg" alt="img" /></div>
								<div class="info">
									<h3>David Watson</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/kd.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shane Smith</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/nd.jpg" alt="img" /></div>
								<div class="info">
									<h3>Steve Warner</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t4.jpg" alt="img" /></div>
								<div class="info">
									<h3>Dale Duminy</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t5.jpg" alt="img" /></div>
								<div class="info">
									<h3>Shane Miller</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="col-sm-4 team-grid">
							<!-- normal -->
							<div class="ih-item circle effect10 bottom_to_top">
								<div class="img"><img src="../assets/t6.jpg" alt="img" /></div>
								<div class="info">
									<h3>James Kallis</h3>
									<div class="icons">
										<ul>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li class="team-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- end normal -->
						</div>
						<div class="clearfix"> </div>
					<!-- end Bottom to top-->
				</div>
			</div>
		</div>
		<!-- //team -->
	</div>
	<!-- //about -->