<div class="about-heading">
		<h2>Our <span>Services</span></h2>
	</div>
	<!-- //about-heading -->
	<!-- services -->
	<div class="services">
		<!-- best-services -->
		<div class="w3-best-services">
			<div class="container">
				<div class="w3-banner-bottom-heading">
					<h3>Best <span>Services</span></h3>
				</div>
				<div class="w3l-best-services-grids">
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-asterisk effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Cum soluta nobis est</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-road effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Soluta nobis est cum</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-plane effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Eligendi cum soluta nobis</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-bed effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Nobis cum soluta est</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="servc-grids">
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-magnet effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Cum soluta nobis est</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="col-md-6 servc-grid">
							<div class="col-xs-3 servc-grid-left">
								<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
							</div>
							<div class="col-xs-9 servc-grid-right">
								<h4>Soluta nobis cum est</h4>
								<p>Itaque earum rerum hic tenetur a sapiente delectus 
								reiciendis maiores alias consequatur aut</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<!-- //best-services -->
		<!-- featured-services -->
		<div class="w3ls-featured-services">
			<div class="container">
				<div class="col-md-6 agileits-featured-left">
					<div class="w3-banner-bottom-heading featured-heading">
						<h3>Featured <span>Services</span></h3>
					</div>
					<div class="w3-agileits-featured-left-grids">
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/7.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>Etiam eu risus vel justo</h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/10.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>Lorem ipsum dolor sit</h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-agileits-featured-left-grid">
							<div class="col-sm-4 featured-left-img">
								<img src="../assets/9.jpg" alt="" />
							</div>
							<div class="col-sm-8 featured-left-text">
								<h5>Donec vestibulum est</h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6 agileits-news-right">
					<div class="w3-banner-bottom-heading featured-heading">
						<h3>Latest <span>News</span></h3>
					</div>
					<div class="agile-news-grids">
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>24</h5>
								<p>Sept-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Etiam eu risus vel justo luctus</a></h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>10</h5>
								<p>Oct-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Nunc porta malesuada iaculis</a></h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="agile-news-grid">
							<div class="agile-news-date">
								<h5>07</h5>
								<p>Dec-16</p>
							</div>
							<div class="agile-news-text">
								<h5><a href="single.html">Pellentesque eu finibus magna</a></h5>
								<p>Nunc porta malesuada iaculis. Aenean a odio posuere, efficitur enim et, porta nulla.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //featured-services -->
	</div>
	